name: Run unit tests

on:
  workflow_call:
    inputs:
      python-version:
        description: 'The version of Python to use'
        default: ''
        required: true
        type: string
      os:
        description: 'The name of the OS to use'
        required: true
        type: string

jobs:
  run_unit_tests:
    name: Run unit tests for ni.datastore with ${{ inputs.python-version }} on ${{ inputs.os }}
    runs-on: ${{ inputs.os }}
    strategy:
      # Fail-fast skews the pass/fail ratio and seems to make pytest produce
      # incomplete JUnit XML results.
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
        with:
          python-version: ${{ inputs.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - name: Run and upload unit tests for ni.datastore
        uses: ./.github/actions/run_and_upload_unit_tests